<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" class="example-form">
      <input type="hidden" formControlName="$key" />
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="username" matInput placeholder="Username" />
          <mat-error *ngIf="form.controls['username'].errors?.required"
            >This field is mandatory.</mat-error
          >
          <mat-error *ngIf="form.controls['username'].errors?.minlength"
            >Minimum 5 charactors needed.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email" />
          <mat-error>Invalid Email address.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
          />
          <mat-error *ngIf="form.controls['password'].errors?.required"
            >This field is mandatory.</mat-error
          >
          <mat-error *ngIf="form.controls['password'].errors?.minlength"
            >Minimum 8 charactors needed.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="roles" *ngFor="let roles of Roles"
              >{{ roles }}
            </mat-option>
          </mat-select>
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        type="button"
        [disabled]="form.invalid"
        color="accent"
        class="btn-block"
      >
        Register
      </button>
    </form>
  </mat-card>
</div>